body {
    background: linear-gradient(#1e3c72, #3484d4);
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-areas:
    "titlepagename titlepagename titlepagename"
    "navbar navbar navbar"
    "paragraph1 paragraph1 media"
    "footer footer footer";
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.titlepagename {
    grid-area: titlepagename;
    background-color: #2a5298;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    grid-area: navbar;
    background-color: #243B55;
    text-align: center;
    overflow: auto;
    opacity: 0.9;
    padding: 1px 0;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    color: white;
}

.navbar a {
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #58b8c7;
    border-radius: 5px;
}

.paragraph1{
    grid-area: paragraph1;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.2rem;
    color: #333;
    line-height: 1.3;
    box-shadow: 0 4px 8px #0000001a;
}

.reference hr{
    border: none;
    width: 660px;
    height: 2px;
    background-color: grey;
    border-radius: 10px;
    margin-bottom: 10px;
}

.image1 {
    grid-area: media;
    margin: auto;
    padding: 10px;
    background-color: white;
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image1 img,
.image1 video {
    max-width: 100%;
    border-radius: 10px;
}

iframe {
    border: none;
}

.footer {
    grid-area: footer;
    background-color: #2a5298;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    opacity: 0.9;
}
