body {
    background-color: #a6caec;
}

.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:  1fr 2fr;
    grid-template-areas:
    "titlepagename titlepagename"
    "navbar navbar"
    "paragraph1 image1"
    "footer footer";
}

.titlepagename {
    grid-area: titlepagename;
    background-color: #404040;
    color: rgba(255, 255, 255, 0.836);
    text-align: center;
}

.navbar {
    grid-area: navbar;
    background-color: #595959;
    text-align: center;
    overflow: auto;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    background-color: #595959;
}

.navbar a {
    float: left;
    padding: 7px;
    text-decoration: none;
    font-size: 20px;
    width: 10%; /* Four links of equal widths */
    text-align: center;
    color: rgba(255, 255, 255, 0.836);
    text-align: justify; 
}

.paragraph1{
    grid-area: paragraph1;
    background-color: #99b3cc;
    padding: 20px;
}

.image1{
    grid-area: image1;
    margin: 10px;
}

.footer {
    grid-area: footer;
    background-color: #404040;
    color: white;
}

img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}