.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:  1fr 2fr;
    grid-template-areas:
    "titlepagename titlepagename"
    "navbar navbar"
    "paragraph1 image1"
    "footer footer";
    background-color: #a6caec;
}

.titlepagename {
    grid-area: titlepagename;
    background-color: #404040;
    color: white;
}

.navbar {
    grid-area: navbar;
    background-color: #595959;
    color: white;
}

.paragraph1{
    grid-area: paragraph1;
}

.image1{
    grid-area: image1;
}

.footer {
    grid-area: footer;
    background-color: #404040;
    color: white;
}

img {
    width: 50%;
}